.DS_Store
tanzu-cluster-essentials
tanzu-cli
.vscode/settings.json
**/tap-env.sh
**/*secret*
**/tanzu-cluster-essentials*
**/tanzu-framework*
**/tap-values*
**/serviceaccounts*
**/template-tap-values*
**/*.vsix
**/*.gz
**/*.zip
**/*.tar
minikube-linux/tap-guis.html
